@import url(font.css);
h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: var(--text-color);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  transition: all 0.1s ease;
}
a:hover,
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  border: none;
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  cursor: pointer !important;
  text-decoration: none !important;
}
body {
  --grid-size: 40px;
  --grid-line: 1px;
  --grid-color: #272727;
  background-color: black;
  background-image:
    linear-gradient(to right, var(--grid-color) var(--grid-line), transparent 0),
    linear-gradient(to bottom, var(--grid-color) var(--grid-line), transparent 0);
  background-size: var(--grid-size) var(--grid-size);
  background-attachment: fixed;
  color: white;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  font-family: 'Google Sans Flex', sans-serif;
}
#app {
  min-width: 100vw;
  min-height: 300vh;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: #010101;
}
